/vendor/
/node_modules/
/laravel-tests/

composer.lock
package-lock.json

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.phpunit.cache/
.phpunit.result.cache
.php_cs.cache
.php-cs-fixer.cache

mix-manifest.json
/pre-dist/
/resources/pre-dist/
/images/

.DS_Store
Thumbs.db
*.bak
*.bak.*
*.swp
*.swo
*~

.env
.env.*
!.env.testing
!.env.example
