parameters:
    level: 1
    paths:
        - src
    excludePaths:
        - src/Console/stubs
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#on an unknown class#'
        - '#not found#'
        - '#Result of .* is used#'
        - '#Call to sprintf contains 0 placeholders#'
        - '#return statement is missing#'
        - '#Access to an undefined property#'
        - '#Access to undefined constant#'
        - '#has invalid type#'
        - '#is not covariant with#'
        - '#Call to an undefined static method Dcat\\Admin\\Models\\[A-Za-z0-9_]+::(where|find|first|create|insert|truncate|pluck)\(\).#'
    reportUnmatchedIgnoredErrors: false
