// ================================================================================================
//  File Name: _default.scss
//  Description: Default theme color overrides
//  ----------------------------------------------------------------------------------------------
//  Primary color: #586cb1 (indigo-like)
//  Header/Navbar: #4c60a3
// ================================================================================================

$default-theme-primary: #586cb1;
$default-theme-header: #4c60a3;
$default-theme-header-hover: #3d4f8a;
$default-theme-sidebar-text: #333;

body.layout-color-default {
  .header-navbar,
  .navbar-header {
    background-color: $default-theme-header !important;
  }

  .header-navbar a,
  .navbar-header a {
    color: #fff;
  }

  .user-name {
    color: #fff;
  }

  .bg-primary {
    background-color: $default-theme-primary !important;
    color: #fff !important;
  }

  .btn-primary {
    background-color: $default-theme-primary !important;
    border-color: $default-theme-primary !important;
    color: #fff !important;

    &:hover,
    &:focus,
    &:active {
      background-color: $default-theme-header !important;
      border-color: $default-theme-header !important;
      color: #fff !important;
    }
  }

  .btn-outline-primary,
  .btn-primary.btn-outline {
    background-color: transparent !important;
    border-color: $default-theme-primary !important;
    color: $default-theme-primary !important;

    &:hover,
    &:focus,
    &:active {
      background-color: $default-theme-primary !important;
      border-color: $default-theme-primary !important;
      color: #fff !important;
    }
  }

  a {
    color: $default-theme-primary;

    &:hover {
      color: $default-theme-header;
    }
  }

  .text-primary {
    color: $default-theme-primary !important;
  }

  .grid-selector .wrap {
    background-color: $default-theme-primary;
    color: #fff;
  }

  .pagination .page-item.active .page-link {
    background-color: $default-theme-primary;
    border-color: $default-theme-primary;
    color: #fff;
  }

  .main-sidebar .nav-sidebar > .nav-link {
    color: $default-theme-sidebar-text;
  }

  [class*=sidebar-light-] .nav-sidebar > .nav-item > .nav-link,
  [class*=sidebar-light-] .nav-sidebar > .nav-item:hover > .nav-link {
    color: $default-theme-sidebar-text;
  }

  .sidebar-light-primary .nav-item > .nav-link.active {
    color: $default-theme-header !important;
  }
}
