// ================================================================================================
//  File Name: _orange.scss
//  Description: Orange theme color overrides (Tailwind CSS)
//  ----------------------------------------------------------------------------------------------
//  Primary color: #ea580c (orange-600)
//  Header/Navbar: #c2410c (orange-700)
// ================================================================================================

$orange-theme-primary: #ea580c;
$orange-theme-header: #c2410c;
$orange-theme-header-hover: #9a3412;
$orange-theme-sidebar-text: #333;

body.layout-color-orange {
  .header-navbar,
  .navbar-header {
    background-color: $orange-theme-header !important;
  }

  .header-navbar a,
  .navbar-header a {
    color: #fff;
  }

  .user-name {
    color: #fff;
  }

  .bg-primary {
    background-color: $orange-theme-primary !important;
    color: #fff !important;
  }

  .btn-primary {
    background-color: $orange-theme-primary !important;
    border-color: $orange-theme-primary !important;
    color: #fff !important;

    &:hover,
    &:focus,
    &:active {
      background-color: $orange-theme-header !important;
      border-color: $orange-theme-header !important;
      color: #fff !important;
    }
  }

  .btn-outline-primary,
  .btn-primary.btn-outline {
    background-color: transparent !important;
    border-color: $orange-theme-primary !important;
    color: $orange-theme-primary !important;

    &:hover,
    &:focus,
    &:active {
      background-color: $orange-theme-primary !important;
      border-color: $orange-theme-primary !important;
      color: #fff !important;
    }
  }

  a {
    color: $orange-theme-primary;

    &:hover {
      color: $orange-theme-header;
    }
  }

  .text-primary {
    color: $orange-theme-primary !important;
  }

  .grid-selector .wrap {
    background-color: $orange-theme-primary;
    color: #fff;
  }

  .pagination .page-item.active .page-link {
    background-color: $orange-theme-primary;
    border-color: $orange-theme-primary;
    color: #fff;
  }

  .main-sidebar .nav-sidebar > .nav-link {
    color: $orange-theme-sidebar-text;
  }

  [class*=sidebar-light-] .nav-sidebar > .nav-item > .nav-link,
  [class*=sidebar-light-] .nav-sidebar > .nav-item:hover > .nav-link {
    color: $orange-theme-sidebar-text;
  }

  .sidebar-light-primary .nav-item > .nav-link.active {
    color: $orange-theme-header !important;
  }
}
