// 设置主题颜色
// Theme color is passed via webpack.mix.js as $theme-primary
// If not defined, use default

// Set default value
$theme-primary: #586cb1 !default;

// Use theme-primary as primary color
$primary: $theme-primary;
