.alert {
  font-weight: 500;
  border: none;
  padding: 0.85rem 1.2rem;
  border-radius: var(--radius-md);

  // close
  h4 {
    color: inherit;
  }

  .close:focus{
    outline: 0;
  }

  // For Alert Content
  p {
    font-weight: 500;
    padding: 2px 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  span{
    vertical-align: middle;
  }

  // For alert heading
  .alert-heading {
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0;
    padding-bottom: 8px;
  }
}
.alert-danger {
  background-color: #f5e0e8;
  color: #ef5228;
}
.alert-success {
  background: rgba($success,.2);
  color: darken($success, 2%);
}
.alert-info {
  background: rgba($info,.2);
  color: $info;
}
.alert-primary {
  background: rgba($primary,.2);
  color: $primary-darker;
}
.alert-warning {
  background-color: #f6f6eb;
  color: darken($warning, 8%);
}

.callout {
  border-radius: var(--radius-sm);
  border: 0;
  border-left: 3.5px solid lighten(#8e9aac, 5%);
  background-color: #fff;
  margin-bottom: 1rem;
}
.callout.callout-primary {
  border-left: 3.5px solid lighten($primary, 2%);
}
.callout.callout-light {
  background-color: #f7f7f9;
  box-shadow: none;
}