
$table-border-radius: .3rem;

.custom-data-table-header .table-responsive .top {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  //margin-bottom: .5rem
}

.custom-data-table-header .table-responsive .top .action-btns {
  margin-top: 1.5rem;
  display: flex
}

.custom-data-table-header .table-responsive .top .action-btns .actions-dropodown {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .14);
  border-radius: $table-border-radius;
  margin-right: .75rem
}

.custom-data-table-header .table-responsive .top .action-btns .actions-dropodown .dropdown-toggle {
  font-size: 1.125rem;
  font-weight: 500
}

.custom-data-table-header .table-responsive .top .action-btns .actions-dropodown .dropdown-toggle:after {
  left: 0
}

.custom-data-table-header .table-responsive .top .action-btns .dt-buttons .btn {
  padding: .9rem .938rem
}

.table-responsive .table-filter {
  display: inline-block
}

.table-filter .form-control {
  padding: 0.4rem 0.6rem 0.4rem 2rem !important;
  border-radius: 0.25rem;
  border: 1px solid #e5e7eb;
  background: $white;
  font-size: 0.875rem;
  height: auto;
}

.table-filter label {
  position: relative;
  width: 12rem;
}

.table-filter label:after {
  content: "\E8BD";
  font-family: feather;
  position: absolute;
  top: 0.35rem;
  font-size: 0.9rem;
  left: 0.6rem;
  font-weight: 300;
  color: $dark70;
}


table.custom-data-table.data-table {
  border-spacing: 0 .8rem;
  padding: 0;
}

//table.custom-data-table {
//  background: #ededf1;
//  border-radius: $card-border-radius;
//  box-shadow: $shadow;
//}

table.custom-data-table tbody tr {
  background: $white;
}

table.data-table {
  border-collapse: separate !important;
}

table.custom-data-table.data-table thead th {
  //padding: .714rem 1.785rem;
  padding: 0.714rem .51rem;
  font-weight: 600;
  border-bottom: 0;
  border-top: 0;
}

table.custom-data-table.data-table thead th input:focus {
  outline: 0
}

table.custom-data-table.data-table thead th:first-child {
  //padding-left: 0;
  padding-left: .9rem;
}

table.custom-data-table.data-table tbody tr {
  background-color: #fff;
  //box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .05);
  box-shadow: $shadow;
  cursor: pointer;
  transition: all .3s ease;
  border-radius:$table-border-radius
}

table.custom-data-table.data-table tbody tr:hover {
  //transform: translateY(-4px);
  //transition: all .3s ease;
  //transform: none;
  background: lighten($dark30, 1%);
}

table.custom-data-table.data-table tbody tr td:first-child {
  padding-left: 1rem;
  border-top-left-radius: $table-border-radius;
  border-bottom-left-radius: $table-border-radius
}

table.custom-data-table.data-table tbody tr td:last-child {
  border-top-right-radius:$table-border-radius;
  border-bottom-right-radius:$table-border-radius
}

table.custom-data-table.data-table tbody tr.selected td {
  border-radius: 0
}

table.custom-data-table.data-table tbody td {
  //padding: 1.357rem;
  border: none;
  vertical-align: middle;
  height: $table-td-height;
  padding: .55rem;
  line-height: 1.42857;
}

table.custom-data-table.data-table tbody td input:focus {
  outline: 0
}

table.custom-data-table.data-table tbody td:focus {
  outline: 0
}

table.custom-data-table.data-table tbody td .progress {
  margin-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08)
}
